$grey: hsla(206, 41%, 97%, 1);
$white: hsla(0, 0%, 100%, 1);

$blue: hsla(207, 90%, 54%, 1);
$lightblue: hsla(193, 100%, 97%, 1);

$lightfont-color: hsla(0, 0%, 100%, 1);
$darkfont-color: hsla(0, 0%, 29%, 1);
$greyfont-color: hsla(202, 15%, 68%, 1);
$blue-color: hsla(207, 90%, 54%, 1);
$dark-blue-color: hsla(210, 90%, 54%, 1);
